<p style="color: green"><%= notice %></p>

<%= render Components::Prompts::Prompt.new(prompt: @prompt) %>

<div>
  <%= link_to "Edit this prompt", edit_prompt_path(@prompt.id) %> |
  <%= link_to "Back to prompts", prompts_path %>

  <%= button_to "Destroy this prompt", @prompt, method: :delete %>

  <%= button_to "Run this prompt", run_prompt_path(@prompt.id), method: :post %>
</div>
