<tr id="<%= dom_id rpc_message %>">
  <td><%= rpc_message.id %></td>
  <td><%= rpc_message.message_type %></td>
  <td><%= rpc_message.direction %></td>
  <td><%= rpc_message.rpc_id %></td>
  <td><%= rpc_message.method %></td>
  <td><%= rpc_message.params %></td>
  <td><%= rpc_message.result %></td>
  <td><%= rpc_message.error %></td>
</tr>
