<%= turbo_stream_from [session, :stream] %>
<div id="session-stream">
  <div class="mobile-messages-area">
    <div class="toggle-link" style="margin: 0.5em 0;">
      <% if session.current_tokens && session.token_limit %>
        <div style="margin-bottom: 0.3em; display: flex; align-items: center; gap: 0.7em;">
          <span>
            <%= session.current_tokens %> / <%= session.token_limit %> tokens
            (<%= number_to_percentage(session.current_tokens.to_f / session.token_limit * 100, precision: 0) %>)
          </span>
          <%= render partial: "sessions/job_status", locals: { job_status: job_status } %>
        </div>
      <% end %>
      <span>Messages:</span>
      <% merged = display_state.merge(show_messages: "false") %>
      <% if display_state[:show_messages] == "true" || display_state[:show_messages] == "open" %>
        <%= link_to 'Hide', session_path(session, merged), class: 'toggle' %>
        <% if display_state[:show_messages] == "open" %>
          <%= link_to 'Close all', session_path(session, display_state.merge(show_messages: "true")), class: 'toggle' %>
        <% else %>
          <%= link_to 'Open all', session_path(session, display_state.merge(show_messages: "open")), class: 'toggle' %>
        <% end %>
        <%= link_to 'More', session_messages_path(session), class: 'toggle' %>
      <% else %>
        <%= link_to 'Show', session_path(session, display_state.merge(show_messages: "true")), class: 'toggle' %>
      <% end %>
    </div>
    <% if display_state[:show_messages] == "true" || display_state[:show_messages] == "open" %>
      <div data-controller="message-open" data-message-open-open-value="<%= display_state[:show_messages] == "open" %>">
        <%= render 'messages/messages', messages: session.messages.order(id: :desc).limit(5), limit: 5 %>
      </div>
    <% end %>
  </div>

  <% if display_state[:show_events] == "true" %>
    <div class="mobile-events-area">
      <div class="toggle-link" style="margin: 0.5em 0;">
        <span>Events:</span>
        <% merged = display_state.merge(show_events: "false") %>
        <%= link_to 'Hide', session_path(session, merged), class: 'toggle' %>
        <%= link_to 'More', session_events_path(session), class: 'toggle' %>
      </div>
      <%= render 'events/events', events: session.events.order(id: :desc).limit(5), limit: 5 %>
    </div>
  <% else %>
    <div class="toggle-link" style="margin: 0.5em 0;">
      <span>Events:</span>
      <%= link_to 'Show', session_path(session, display_state.merge(show_events: "true")), class: 'toggle' %>
    </div>
  <% end %>

  <% if display_state[:show_rpc_messages] == "true" %>
    <div class="mobile-rpcmessages-area">
      <div class="toggle-link" style="margin: 0.5em 0;">
        <span>RPC Messages:</span>
        <% merged = display_state.merge(show_rpc_messages: "false") %>
        <%= link_to 'Hide', session_path(session, merged), class: 'toggle' %>
        <%= link_to 'More', session_rpc_messages_path(session), class: 'toggle' %>
      </div>
      <%= render 'rpc_messages/rpc_messages', rpc_messages: session.rpc_messages.order(id: :desc).limit(5), limit: 5 %>
    </div>
  <% else %>
    <div class="toggle-link" style="margin: 0.5em 0;">
      <span>RPC Messages:</span>
      <%= link_to 'Show', session_path(session, display_state.merge(show_rpc_messages: "true")), class: 'toggle' %>
    </div>
  <% end %>

  <div class="mobile-destroy-btn"><%= button_to "Destroy this session", session, method: :delete, data: { turbo_confirm: "Are you sure you want to destroy this session?" } %></div>
</div>
