<% if notice.present? %><p style="color: green"><%= notice %></p><% end %>

<%= render @session %>

<div>
  <div class="mobile-messages-area">
    <%= turbo_stream_from "job_status" %>
    <%= render 'messages/form', message: @session.messages.new, from: 'session_show' %>
    <%= turbo_stream_from [@session, :messages] %>
    <%= render 'messages/messages', messages: @session.messages.order(id: :desc).limit(5), limit: 5 %>
    <div class="more-link"><%= link_to 'More messages', session_messages_path(@session) %></div>
  </div>
  <div class="mobile-rpcmessages-area">
    <h3>Latest RPC Messages</h3>
    <%= turbo_stream_from [@session, :rpc_messages] %>
    <%= render 'rpc_messages/rpc_messages', rpc_messages: @session.rpc_messages.order(created_at: :desc).limit(5), limit: 5 %>
    <div class="more-link"><%= link_to 'More RPC messages', session_rpc_messages_path(@session) %></div>
  </div>

  <div class="mobile-destroy-btn"><%= button_to "Destroy this session", @session, method: :delete %></div>
</div>
