<div id="<%= dom_id rpc_log %>" class="rpc-log-item">
  <div class="meta">
    <span><%= rpc_log.created_at.strftime("%Y-%m-%d %H:%M:%S.%L") %></span>
    <span style="margin-left:0.5em; color:<%= rpc_log.direction == 'incoming' ? '#1976d2' : '#888' %>"><%= rpc_log.direction.capitalize %></span>
    <span style="margin-left:0.5em;">ID: <%= rpc_log.rpc_id %></span>
  </div>

  <details>
    <summary style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;">
      <%= JSON.generate(rpc_log.data) %>
    </summary>
    <pre class="content"><%= JSON.pretty_generate(rpc_log.data) %></pre>
  </details>
</div>