<div id="<%= dom_id rpc_log %>">
  <div>
    <strong>Session:</strong>
    <%= rpc_log.session_id %>
  </div>

  <div>
    <strong>Direction:</strong>
    <%= rpc_log.direction %>
  </div>

  <div>
    <strong>Message:</strong>
    <%= rpc_log.message %>
  </div>

  <div>
    <strong>Data</strong>
    <%= rpc_log.data %>

</div>
