<div id="<%= dom_id rpc_log %>" class="rpc-log-item <%= rpc_log.direction == 'incoming' ? 'incoming' : 'outgoing' %>">
  <div class="meta">
    <span><%= rpc_log.created_at.strftime("%Y-%m-%d %H:%M:%S.%L") %></span>


  </div>

  <details>
    <summary style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;">
      <%= JSON.generate(rpc_log.data) %>
    </summary>
    <pre class="content"><%= JSON.pretty_generate(rpc_log.data) %></pre>
    <div class="timestamp-detail">
      <%= rpc_log.created_at.strftime("%Y-%m-%d %H:%M:%S.%L") %>
    </div>
  </details>
</div>