<p style="color: green"><%= notice %></p>

<%= render @rpc_log %>

<div>
  <%= link_to "Edit this rpc log", edit_rpc_log_path(@rpc_log) %> |
  <%= link_to "Back to rpc logs", rpc_logs_path %>

  <%= button_to "Destroy this rpc log", @rpc_log, method: :delete %>
</div>
