<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :script, style: "display: block" %>
    <%= form.textarea :script %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
