<%# locals: (tool:) %>
<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :script, style: "display: block" %>
    <%= form.text_area :script %>
  </div>

  <div id="tool-parameters" data-controller="tool-parameters" data-tool-parameters-target="container">
    <%= form.fields_for :tool_parameters do |f| %>
      <%= render "tool_parameter_fields", f: f %>
    <% end %>
    <div>
      <%= link_to "Add Parameter", "#", data: { action: "tool-parameters#add" } %>
    </div>
  </div>

  <template id="tool-parameter-template">
    <%= form.fields_for :tool_parameters, ToolParameter.new, child_index: "NEW_RECORD" do |f| %>
      <%= render "tool_parameter_fields", f: f %>
    <% end %>
  </template>

  <div>
    <%= form.submit %>
  </div>
<% end %>
