<div class="nested-fields">
  <%= f.label :name, 'Parameter Name' %>
  <%= f.text_field :name %>
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description %>
  <% if f.object.persisted? %>
    <div>
      <%= f.check_box :_destroy %> <%= f.label :_destroy, 'Delete' %>
    </div>
  <% else %>
    <%= f.hidden_field :_destroy %>
    <%= link_to 'Remove', '#', class: 'remove_fields', data: { action: 'remove->tool-parameters#remove' } %>
  <% end %>
</div>
