<p style="color: green"><%= notice %></p>

<%= render @tool %>

<h2>Parameters</h2>
<ul>
  <% @tool.tool_parameters.each do |arg| %>
    <li><strong><%= arg.name %></strong>: <%= arg.description %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Edit this tool", edit_tool_path(@tool) %> |
  <%= link_to "Back to tools", tools_path %>

  <%= button_to "Destroy this tool", @tool, method: :delete %>
</div>
