<h1>Amend Commit</h1>
<p><%= link_to "Go to Uncommitted Changes", uncommitted_changes_path, class: "changes-link-uncommitted" %></p>
<%= render partial: "staging_area", locals: {
      unstaged_files: @unstaged_files,
      staged_files: @staged_files,
      unstaged_file_path: @unstaged_file_path,
      staged_file_path: @staged_file_path,
      file_diff: @file_diff,
      unstaged_link: ->(path) { amend_changes_path(unstaged_file_path: path) },
      staged_link: ->(path) { amend_changes_path(staged_file_path: path) },
      stage_url: stage_changes_path,
      unstage_url: unstage_changes_path,
      stage_label: "Stage this change",
      unstage_label: "Unstage this change",
      stage_amend: true,
      unstage_amend: true
    } %>
<%= form_with url: amend_commit_changes_path, method: :post, local: true do |form| %>
  <div>
    <%= form.label :commit_message, "Commit message" %><br>
    <%= form.text_area :commit_message, rows: 3, cols: 60, value: @head_commit_message, disabled: params[:no_edit] == "1" %>
  </div>
  <div>
    <%= form.label :no_edit, "No edit" %>
    <%= form.check_box :no_edit, { checked: params[:no_edit] == "1", onclick: "this.form.commit_message.disabled = this.checked;" }, "1", "0" %>
  </div>
  <div>
    <%= form.label :reset_author, "Reset author" %>
    <%= form.check_box :reset_author, { checked: params[:reset_author] == "1" }, "1", "0" %>
  </div>
  <%= form.submit "Amend commit", class: "changes-amend-btn", disabled: @staged_files.empty? %>
<% end %>
