<h1>Changes</h1>
<p>
  Current branch: <span class="changes__branch-label"><%= @current_branch %></span>
  <% if @rebase_status %>
    (<span class="changes__branch-label"><%= @rebase_status[:head].sub(%r{^refs/heads/}, "") %></span> <%= link_to "rebasing", rebase_index_path %>)
  <% end %>
</p>
<ul class="changes-list">
  <% @commits.each do |commit| %>
    <li class="changes-list__item">
      <strong>Hash:</strong> <%= link_to commit[:hash], (commit[:hash] == "uncommitted" ? uncommitted_changes_path : change_path(commit[:hash])) %><br>
      <strong>Author:</strong> <%= commit[:author] %><br>
      <strong>Message:</strong> <%= commit[:message] %>
    </li>
  <% end %>
</ul>
<%= paginate @commits %>
