<h1>Commit <%= h @id %> Changes</h1>
<p>
  <%= link_to "Rebase from this commit", rebase_index_path(base: @id), class: "btn btn-primary" %>
</p>
<p>
  <strong>Author:</strong> <%= h @commit_info[:author] %><br>
  <strong>Author Date:</strong> <%= h @commit_info[:author_date] %><br>
  <strong>Commit Date:</strong> <%= h @commit_info[:commit_date] %>
</p>
<pre><%= h @commit_message %></pre>
<ul>
  <% @file_paths.each do |file| %>
    <% selected = (file == @selected_file_path) %>
    <li class="changes-list__item<%= " changes-list__item--selected" if selected %>">
      <a href="<%= change_path(@id, file_path: file) %>"><%= h file %></a>
    </li>
  <% end %>
</ul>
<% if @file_diff %>
  <hr>
  <%= render partial: "diff", locals: { file_diffs: [ @file_diff ] } %>
<% end %>
