<%# locals: (session:, message:, from:, display_state:, job_status:) %>
<%= form_with model: [session, message], data: { controller: "clear-form message-form" }, html: { multipart: true, id: "message-form" } do |form| %>
  <%= hidden_field_tag :from, local_assigns[:from] if local_assigns[:from] %>
  <% if message.errors.any? %>
    <div class="messages-form__errors">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div data-controller="message-form">
    <%= form.text_area :content, rows: 2, class: "messages-form__content", id: "message_content", data: { message_form_target: "messageContent" } %>
  </div>

  <div class="messages-form__actions">
    <%= link_to "History", history_session_messages_path(session), id: "open-history", data: { turbo_frame: :remote_modal } %>
    <select name="custom_agent_id" id="custom_agent_id">
      <option value=""></option>
      <% session.custom_agents.each do |agent| %>
        <option value="<%= agent.id %>">@<%= agent.name %></option>
      <% end %>
    </select>

    <button type="button" onclick="document.getElementById('file_upload').click()" id="file_upload_label">File</button>
    <input type="file" id="file_upload" name="file[]" accept="image/*" multiple class="messages-form__file-upload" onchange="document.getElementById('file_upload_label').innerText = this.files.length > 1 ? this.files.length + ' files' : (this.files[0]?.name || 'File')">
    <button type="button" onclick="document.getElementById('camera_upload').click()" id="camera_upload_label">Camera</button>
    <input type="file" id="camera_upload" name="camera_file" accept="image/*" capture="environment" class="messages-form__file-upload" onchange="document.getElementById('camera_upload_label').innerText = this.files[0]?.name || 'Camera'">
    <input type="hidden" name="show_messages" value="<%= display_state[:show_messages] %>">
    <input type="hidden" name="show_events" value="<%= display_state[:show_events] %>">
    <input type="hidden" name="show_rpc_messages" value="<%= display_state[:show_rpc_messages] %>">
    <%= form.submit "Send" %>
  </div>
<% end %>
