<div id="<%= dom_id message %>" class="message-item <%= message.direction == 'incoming' ? 'incoming' : 'outgoing' %>" data-controller="toggle-details" data-action="click->toggle-details#toggle">
 <details>
    <summary>
      <div class="summary-flex-row">
        <span class="summary-text">
          <%= message.content.to_s.lines.first&.chomp || '' %>
          <% if message.content.to_s.lines.size > 1 %>...<% end %>
        </span>
        <span class="meta">
          <% now = Time.zone.now %>
          <% if message.created_at.to_date == now.to_date %>
            <span class="timestamp-main"><%= message.created_at.strftime("%H:%M:%S.%L") %></span>
          <% else %>
            <span class="timestamp-main"><%= message.created_at.strftime("%Y-%m-%d %H:%M:%S.%L") %></span>
          <% end %>
        </span>
      </div>
    </summary>
    </summary>
    <div class="content" style="white-space: pre-wrap;"><%= message.content -%><div class="timestamp-detail"><%= message.created_at.strftime("%Y-%m-%d %H:%M:%S.%L") %></div></div>
  </details>

 </div>
