<%# locals: (logs:, disabled:, name_prefix:) %>
<% logs.each_with_index do |log, idx| %>
  <tr class="rebase__row">
    <td>
      <%= hidden_field_tag name_prefix ? "#{name_prefix}[][hash]" : nil, log[:hash], disabled: disabled %>
      <%= select_tag name_prefix ? "#{name_prefix}[][action]" : nil, options_for_select([
            %w[pick pick],
            %w[edit edit],
            %w[squash squash],
            %w[fixup fixup],
            %w[reword reword],
            %w[drop drop],
            %w[break break]
          ], log[:action]), disabled: disabled %>
      <% if disabled %>
        <button type="button" disabled>&uarr;</button>
        <button type="button" disabled>&darr;</button>
      <% else %>
        <button type="button" data-action="click->rebase-order#move" data-direction="-1" <%= "disabled" if idx.zero? %>>&uarr;</button>
        <button type="button" data-action="click->rebase-order#move" data-direction="1" <%= "disabled" if idx == logs.size - 1 %>>&darr;</button>
      <% end %>
    </td>
    <td><%= log[:hash]&.[](0, 7) %></td>
    <td><%= log[:message] %></td>
  </tr>
<% end %>
