<div id="<%= dom_id custom_agent %>">
  <div>
    <strong>Name:</strong>
    <%= custom_agent.name %>
  </div>

  <div>
    <strong>Display name:</strong>
    <%= custom_agent.display_name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= custom_agent.description %>
  </div>

  <div>
    <strong>Prompt:</strong>
    <%= custom_agent.prompt %>
  </div>

</div>
