<p style="color: green"><%= notice %></p>

<%= render @custom_agent %>

<div>
  <%= link_to "Edit this custom agent", edit_custom_agent_path(@custom_agent) %> |
  <%= link_to "Back to custom agents", custom_agents_path %>

  <%= button_to "Destroy this custom agent", @custom_agent, method: :delete %>
</div>
