<div id="<%= dom_id event %>">
  <div>
    <strong>Session:</strong>
    <%= event.session_id %>
  </div>

  <div>
    <strong>Event type:</strong>
    <%= event.event_type %>
  </div>

  <div>
    <strong>Event ID:</strong>
    <%= event.event_id %>
  </div>

  <div>
    <strong>Data:</strong>
    <%= event.data %>
  </div>

  <div>
    <strong>Timestamp:</strong>
    <%= event.timestamp %>
  </div>

  <div>
    <strong>Parent:</strong>
    <%= event.parent_event_id %>
  </div>

  <div>
    <strong>Ephemeral:</strong>
    <%= event.ephemeral %>
  </div>

</div>
